<div class="total-rooms" id="room_count">
  <% if rooms.length === 1 %>
    <span class="text-secondary text-center" id="total_rooms">1 room</span>
  <% else %>
    <span class="text-secondary text-center" id="total_rooms"><%= rooms.length %> rooms</span>
  <% end %>
</div>