<%= turbo_frame_tag 'current_room' do %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark room-empty-navbar">
    <span class="navbar-brand text-secondary">Hotchat</span>
  </nav>

  <div class="messages-placeholder"></div>
  <div class="message-form-placeholder">

  </div>
<% end %>