.new-message-form {
  width: calc(100% - 8px);
  margin: 0 auto;

  i.emoji {
    font-style: normal;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .field {
    position: relative;


    .send-button {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 100%;
      position: absolute;
      right: 4px;
      top: 4px;
      margin-top: 0!important;
    }

    .emoji-button {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 100%;
      position: absolute;
      right: 43px;
      top: 4px;
      margin-top: 0;
    }

    input {
      height: 40px;
      width: 100%;
      border-radius: 25px;
    }
  }
}