.room-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;

  .inner-room {
    height: 100%;
  }

  .messages {
    width: 95%;
    margin: 0 auto;
    height: calc(100% - 115px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 17px;
    box-sizing: content-box;
    padding-left: 17px;
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    &.show {
      opacity: 1;
    }
  }

  .navbar {
    .navbar-brand {
      flex: 1;
      text-align: center;
    }

    .dropdown-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      text-align: right;
      padding-left: 5px;
      padding-right: 10px;

      &.self-member {
        font-weight: bold;
      }

      &.member {
        pointer-events: none;
      }

      &:last-child {
        border-bottom: none!important;
      }
    }

    .icon-nav-link {
      padding-left: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
       font-size: 1.2em!important;
      }

      .text {
        margin-left: 0.5rem;
      }
    }
  }
}

.room-empty-navbar {
  display: flex;
  justify-content: center;
  .navbar-brand {
    margin-right: 0;
  }
}