.rooms-list {
  display: flex;
  flex-direction: column;

  .list-group-item {
    border-right: none;
  }

  .navbar {
    .nav-link {
      position: absolute;
      right: -0.5rem;
    }

    .navbar-brand {
      flex: 1;
      text-align: center;
    }
  }

  #rooms {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    height: 100%;
    overflow-y: auto;

    .list-group-item {
      a {
        display: flex;

        &:hover {
          text-decoration: none;
        }

        .room-id {
          color: gray;
          opacity: 0.3;
        }
      }

      &.active {
        a {
          color: white!important;
        }

        .room-id {
          color: white!important;
          opacity: 0.5;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 59px;
    background-color: #ececec;
    border-right: 1px solid rgba(0, 0, 0, 0.125);

    a {
      padding-left: 0.5em;

      &:hover {
        text-decoration: none;
      }
    }

    .user-name {
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 1.2em 1em 1em;

      span {
        font-size: 12px;
      }
    }

    .total-rooms {
      text-align: center;
      padding-right: 0.5em;
    }
  }
}

.form-room-new {
  .form-error {
    background: rgba(255, 0, 0, 0.5);
    color: white;
    margin-bottom: 1em;
    border-radius: 10px;
    opacity: 0;
    height: 0;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-error-show {
    height: 50px;
    opacity: 1;
  }
}