@import "~bootstrap/scss/bootstrap";


html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  border-radius: 13px;
}

@import "sessions";
@import "room";
@import "message";
@import "new-message-form";
@import "rooms";
@import "home";