<div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Room</h5>
      </div>
      <%= form_with(model: @room,
                    class: 'form-room-new',
                    html: {
                      novalidate: true
                    },
                    data: {
                      remote: true,
                      controller: 'rooms',
                      target: 'form.form-room-new',
                      action: 'ajax:beforeSend->rooms#submitForm'
                    }) do |form|
      %>
        <div class="modal-body">
          <span class="form-error form-error-short">Room name must be longer than 5 characters!</span>
          <span class="form-error form-error-long">Room name cannot be longer than 25 characters!</span>
          <span class="form-error form-error-invalid-characters">Room name cannot contain invalid characters!</span>

          <div class="input-wrapper">
            <%= form.label :name, nil, class: 'sr-only' %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Room Name', autofill: 'off', autocomplete: 'off', required: true %>

            <a data-action="click->rooms#generateRandomName" href="#" data-toggle="tooltip" data-placement="top" title="Generate Name">
              <i class="fa fa-magic"></i>
            </a>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= button_tag "Create", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
